body {
  color: #000;
  height: 100vh;
  background-color: #fff;

  display: grid;
  place-content: center;
}

h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0.75em;
}

.sign-up-container {
  font-size: 1.5rem;
}

form {
  width: 350px;
  padding: 2em;
  border-radius: 0.4em;
  box-shadow: 0 5px 20px 10px rgba(0, 0, 0, 0.07);
}

label,
button {
  display: block;
}

label {
  margin-bottom: 0.25em;
}

input {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1.125em;
  border-radius: 0.5em;
  border: 1px solid gray;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 2px 20px 1px hsla(34, 78%, 85%, 0.6);
}

button:active {
  box-shadow: 0 2px 20px 6px hsla(34, 78%, 85%, 0.6);
}

button {
  border: 1px solid transparent;
  background-color: hsl(34, 78%, 91%);
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
  border-radius: 0.5em;
  padding: 0.6em;
  margin: 0.75em 0;
}
